:root {
  --color-black: #000;
  --color-black-600: #131313;
  --color-white: #fff;
  --color-grey: #a3a3a3;
}
body {
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 1.6;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.text {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.125rem;
}

.link {
  font-weight: 300;
  font-size: 0.875rem;
}

.link:hover {
  color: var(--color-grey);
}
